.detail {
    background: var(--white);
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
.detail h3 {
    display: inline-block;
    color: var(--primary-1);
    margin-bottom: 0;
}
@media screen and (min-width: 996px){
    .detail h3{ font-size: 1.5rem;} 
}
.detail p {
    margin-top: 1.25rem;
    padding-right: 1.25rem;
    text-transform: capitalize;
}
.purple, .yellow, .pink, .green {
 background: var(--grey-10);
 border-radius: var(--radius);
 padding: 0.5rem 0.75rem 0rem;
 font-size: 1.5rem;
 letter-spacing: var(--spacing);
} 

.purple{
    color: Plum;
}
.green {
    color: CornflowerBlue;
}
.yellow {
    color: MediumAquamarine;
}
.pink {
    color: Salmon;
}