.githuber {
    background: var(--white);
    border-radius: var(--radius);
    padding: 1.25rem;
    display: grid;
}
.githuber-list{
    display: flex;
    padding: 0.25rem;
    color: var(--primary-2);
    align-items: center;
    gap: 0.25rem;
}
.scroll-githuber {
    min-height: 150px;
    max-height: 180px;
    overflow: auto;
}
.githuber .avatar {
    width: 30px;
    cursor: pointer;
}
.githuber h3 {
    font-size: 1.5rem;
}
.githuber h4 {
    color: var(--primary-2);
    font-size: 1rem;
    font-weight: 100;
    text-transform: none;
}
.githuber button {
    border: 0;
    background: transparent;
    cursor: pointer;
    font-weight: 100;
    font-size: 1rem;
    color: var(--grey-4);
}