.loading {
  padding-top: 5rem;
}

.loader {
    margin: auto;
    border: 40px solid var(--grey-9);
    border-radius: 50%;
    border-top: 40px solid var(--primary-6);
    width: 200px;
    height: 200px;
    animation: spinner 1s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }